.page{
  display: flex;
  flex-direction: column;
}

.cards{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.content{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.none{
  display: none;
}

.add{
  width: 300px;
  height: 250px;
  color: black;
  background-color: #ECF0EF;
  font-size: 12px;
  margin-top: 20px;
  box-shadow: gray;
  padding: 20px;
}

.header{
  width: 300px;
  margin-bottom: 10px;
}
.button{
  width: 150px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  color: black;
}

.button:hover{
  background-color: gray;
}