.mainPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts{
  font-size: 18px;
  font-family: Geometria;
  margin-top: 50px;
}

.toggle{
  margin-top: 50px;
}

.btnCreate:hover{
  background-color: gray;
}

.btnEnter:hover{
  background-color: gray;
}

.btnCreate {
  border: 2px solid black;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  width: 240px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  color: black;
  font-weight: bolder;
}

.btnEnter {
  border: 2px solid black;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  width: 240px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  color: black;
  font-weight: bolder;
}

input[type='radio'].toggle {
  display: none;
  & + label {
    cursor: pointer;
    min-width: 60px;
    &:after {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
      width: 100%;
      z-index: -1;
    }
  }
  &.toggleLeft + label {
    border-right: 0;
    &:after {
      left: 100%;
    }
  }
  &.toggleRight + label {
    margin-left: -5px;
    &:after {
      left: -100%;
    }
  }
  &.toggleLeft:checked + label {
    cursor: default;
    color: #fff;
    background-color: black;
    transition: color 200ms;
    &:after {
      left: 0;
    }
  }
  &.toggleRight:checked + label {
    cursor: default;
    color: #fff;
    background-color: black;
    transition: color 200ms;
    &:after {
      left: 0;
    }
  }
}
