.mainPage {
  display: flex;
  flex-direction: row;
}

.navigation {
  margin-top: 5px;
  min-width: 250px;
  width: 100vw;
  background-color: black;
  display: flex;
}

.menuBlock {
  width: 100%;
  height: 70px;
  background: #ECF0EF;;
  font-family: Geometria;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.icon {
  margin-right: 15px;
  margin-left: 22px;
}

.link {
  fill: black;
  text-decoration: none;
  color: black;
}

.selected {
  color: white;
  background-color: black;
  min-width: 280px;
  height: 70px;
  display: flex;
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  justify-content: center;
}

