.page{
  display: flex;
  flex-direction: column;
  font-family: Geometria;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 20px;
}
.info{
  margin-left: 20px;
}